# Scripts de teste/debug
test.ps1

# Diretórios e arquivos de compilação/build
build/
*.iso
*.wim
*.esd
*.log
*.txt

# Diretórios temporários de montagem de imagem 
scratchdir/
mount/
docs/
OEM_Project/

# Arquivos gerados pelo Windows
Thumbs.db
Desktop.ini
autounattend.xml

# Arquivos de editores/IDE
.vscode/
*.swp
.agent/

# Build Tools/Executáveis
*.exe

# Scripts Utilitários Locais
ForceCleanup.ps1
